<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <script>
        function limpa_formulário_cep() {
          //Limpa valores do formulário de cep.
          document.getElementById('rua').value=("");
          document.getElementById('bairro').value=("");
          document.getElementById('cidade').value=("");
          document.getElementById('uf').value=("");
          document.getElementById('ibge').value=("");
  }

  function meu_callback(conteudo) {
      if (!("erro" in conteudo)) {
          //Atualiza os campos com os valores.
          document.getElementById('rua').value=(conteudo.logradouro);
          document.getElementById('bairro').value=(conteudo.bairro);
          document.getElementById('cidade').value=(conteudo.localidade);
          document.getElementById('uf').value=(conteudo.uf);
          document.getElementById('ibge').value=(conteudo.ibge);
      } //end if.
      else {
          //CEP não Encontrado.
          limpa_formulário_cep();
          alert("CEP não encontrado.");
      }
  }
      
  function pesquisacep(valor) {

      //Nova variável "cep" somente com dígitos.
      var cep = valor.replace(/\D/g, '');

      //Verifica se campo cep possui valor informado.
      if (cep != "") {

          //Expressão regular para validar o CEP.
          var validacep = /^[0-9]{8}$/;

          //Valida o formato do CEP.
          if(validacep.test(cep)) {

              //Preenche os campos com "..." enquanto consulta webservice.
              document.getElementById('rua').value="...";
              document.getElementById('bairro').value="...";
              document.getElementById('cidade').value="...";
              document.getElementById('uf').value="...";
              document.getElementById('ibge').value="...";

              //Cria um elemento javascript.
              var script = document.createElement('script');

              //Sincroniza com o callback.
              script.src = 'https://viacep.com.br/ws/'+ cep + '/json/?callback=meu_callback';

              //Insere script no documento e carrega o conteúdo.
              document.body.appendChild(script);

          } //end if.
          else {
              //cep é inválido.
              limpa_formulário_cep();
              alert("Formato de CEP inválido.");
          }
      } //end if.
      else {
          //cep sem valor, limpa formulário.
          limpa_formulário_cep();
      }
  };
  </script>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="name"
            class="form-control"
            placeholder="Enter Name"
            value="<%= typeof name != 'undefined' ? name : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="CEP">CEP</label>
          <input
            type="CEP"
            id="CEP"
            name="CEP"
            class="form-control"
            placeholder="Enter CEP"
            value="<%= typeof CEP != 'undefined' ? CEP : '' %>"
            onblur="pesquisacep(this.value);" /></label><br
          />
        </div>
        <div class="form-group">
          <label for="rua">Rua</label>
          <input
            type="rua"
            id="rua"
            name="rua"
            class="form-control"
            placeholder="Enter rua"
            value="<%= typeof rua != 'undefined' ? rua : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input
            type="bairro"
            id="bairro"
            name="bairro"
            class="form-control"
            placeholder="Enter bairro"
            value="<%= typeof bairro != 'undefined' ? bairro : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input
            type="cidade"
            id="cidade"
            name="cidade"
            class="form-control"
            placeholder="Enter cidade"
            value="<%= typeof cidade != 'undefined' ? cidade : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <input
            type="estado"
            id="uf"
            name="estado"
            class="form-control"
            placeholder="Enter estado"
            value="<%= typeof estado != 'undefined' ? estado : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="ibge">IBGE</label>
          <input
            type="ibge"
            id="ibge"
            name="ibge"
            class="form-control"
            placeholder="Enter ibge"
            value="<%= typeof ibge != 'undefined' ? ibge : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
            value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>